*{
  margin:0;
  padding: 0;
}

div{
  background-color: rgba(0, 255, 255, 0.788);
}

nav ul{
  display: flex;
  /* flex: 1 1 1px; */
  justify-content: space-around;
  padding: 20px;
}
nav ul li{
  padding:5px;
  border-radius:5px;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  font-family:sans-serif;
}

nav ul li:hover{
  cursor: pointer;
  background-color: rgba(98, 103, 104, 0.589);
}